/*Propiedades Utilitarias*/

html
{
  font-family: 'Open Sans', sans-serif;
}

.botones
{
  background-color: #CF2BCE;
  padding: 6px;
  border-radius: 6px;
}

.botones:hover
{
  background-color: #C71190;
} 

a
{
  color: white;
  text-decoration: none;
  font-weight: 100;
}

a:hover
{
  font-weight: 700;
}

p{
  word-spacing: 2px;
}

.section_margin
{
  margin-top: 5%;
}

li
{
  list-style: none;
}

.card
{
  background-color: #ebe9f0;
  width: 325px;
  height: auto;
  box-shadow: 0px 5px 10px rgba(0,0,0,1);
  padding: 24px;
  line-height: 25px;
  font-weight: 700;
}

.subtitle
{
  background: linear-gradient(#181C88,#4A0C68);
  box-shadow: 0px 6px 10px rgba(0,0,0,1);
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
  color: white;
  padding: 12px;
  border-radius: 8px;
}

.section_community_textsize
{
  font-size: 50px;
  margin-bottom: 1%;
  margin-top: 1%;
}

.menuHamburguesa  
{
  color:rgb(235, 235, 235);
  background: none;
  border: none;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0,0,0,3);
  display: none;
}


/*Propiedades Utilitarias*/

header
{
  background: linear-gradient(#181C88,#4A0C68);
  box-shadow: 0px 6px 10px rgba(0,0,0,1);
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#container
{
  display: flex;
}

img#logo
{
  margin-left: 10%;
}

nav
{
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-basis: 20%;
}

div nav:nth-of-type(2)
{
  margin-left: 30%;
}

#section_welcome_one
{
  padding: 16px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

#section_welcome
{
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#section_welcome_items
{
  background-image: linear-gradient(#181C88,#4A0C68);
  box-shadow: 10px 10px 10px rgba(0,0,0,1);
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 32px;
  color: white;
  border-radius: 8px;
  gap: 20px;

}

#section_welcome_items>h1
{
  white-space: pre-wrap;
  text-indent: 15px;
  text-align:center;
  line-height: 50px;
}

#section_welcome_items>p
{
  text-indent: 35px;
  text-align: left;
  line-height: 35px;
  margin-left: 5%;
  margin-bottom: 5%;
  white-space: pre-wrap;
}

#section_welcome_items>a
{
  font-size: 20px;
}

#section_welcome_image
{
  margin-left: 5%;
}


#section_type_container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section_type_container_items
{
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
}

.section_type_container_items1
{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  text-align:center;

}

#section_team
{
  background-image: url("./multimedia/Setup.jpg");
  background-size: cover;
  background-position: center;
  padding: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section_team_container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 500px;
}

#section_team h2
{
  text-shadow: 0px 0px 16px #000;
  filter: drop-shadow(0px 0px 10px black);
}

#section_team p
{
  text-shadow: 0px 0px 16px #000;
  filter: drop-shadow(0px 0px 10px black);
  margin-top: .5%;
}

#me
{
  border-radius: 16px;
}

#section_team_socialmedia
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 150px;
}

#section_reference
{
  background: linear-gradient(#181C88,#4A0C68);
  box-shadow: 0px 1px 16px rgba(0,0,0,1);
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
  color: white;
}

#section_reference_items_container
{
  width: auto;
  height: auto;
}

#section_community_container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section_community_container_items
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  flex-wrap: wrap;


}

.section_community_container_items1
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  text-align:center;
}

#section_reference
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section_reference_main_container
{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#section_reference_items_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}


  .container
  {
    width: 90%;
    min-height: 50vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

  .slider_Comentarios
  {
    padding: 40px 0;
  }

  .slider_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
  }

  .slider_body
  {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0,0,0,1);
    background-color: #f2f2f2 ;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
  }

  .slider_body--show
  {
    opacity: 1;
    pointer-events: unset;
  }

  .slider_img
  {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .slider_texto
  {
    max-width: 600px;
  }

  .slider_subtitle
  {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .slider_testimonio
  {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
  }

  .slider_flecha
  {
    cursor: pointer;
    width: 90%;
  }

  .slider_flecha:nth-of-type(2)
  {
    justify-self: end;
  }


  #tituloFooter
  {
    width: 300px;
  }


footer
{
  background: linear-gradient(#4A0C68,#181C88);
  box-shadow: 0px -5px 10px 1px rgba(0,0,0,1);
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
  color: white;
}

#section_footer_container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
  gap: 16px;
}

#section_footer_login_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 8px;
  width: 300px;
}

#section_footer_container_socialmedia
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 400px;
}


@media(min-width: 320px) and (max-width: 425px) 
{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }

  header
  {
    background: linear-gradient(#181C88,#4A0C68);
    box-shadow: 0px 6px 10px rgba(0,0,0,1);
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
  }

  #section_welcome_one
  {
    margin-top: 30%;
  }

  #section_team_container , #section_reference_main_container
  {
    padding: 15px;
    line-height: 35px;
  }

  #container
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 16px;
    
  }
  
  img#logo
  {
    display: block;
    margin-left: -75%;
    height: 60px;
    width: 60px;
    margin-bottom: 5%;
  }
  
  .activo
  {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 0%;
    transition: 1s;
  }
  
  .inactivo
  {
    display: none;
    transition: 1s;
  }

  div nav:nth-of-type(2)
  {
    margin-top: -8px;
    margin-left: 0%;
  }

  .menuHamburguesa  
  {
    color:rgb(235, 235, 235);
    background: none;
    border: none;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0,0,0,3);
    display: block;
    margin-left: 75%;
    margin-top: -25%;
  }
  .container
  {
    width: 100%;
    min-height: 80vh;
  }

  #section_margin
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: -20%;
  }

  .slider_Comentarios
  {
    margin-bottom: -20%;
  }

  .slider_container{
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    align-items: center;
    gap: 1em;
  }
  .slider_body
  {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 1em;
  }

  .slider_picture
  {
    grid-row: 1/2;
  }

  .slider_img
  {
    width: 100px;
    height: 100px;
  }

  .slider_flecha
  {
    width: 100%;
  }

  .slider_subtitle
  {
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  .slider_testimonio
  {
    font-size: 1rem;
    line-height: 1.3;
  }

  #juegos
  {
    display: none;
  }

  #section_footer_container_socialmedia
  {
    width: auto;
    height: auto;
  }
  #section_footer_container_socialmedia a:nth-of-type(2), #section_footer_container_socialmedia a:nth-of-type(3), #section_footer_container_socialmedia a:nth-of-type(4), #section_footer_container_socialmedia a:nth-of-type(5), #section_footer_container_socialmedia a:nth-of-type(6), #section_footer_container_socialmedia a:nth-of-type(7), #section_footer_container_socialmedia a:nth-of-type(8)
  {
    display: none;
  }

}

@media(min-width: 426px) and (max-width: 768px) 
{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }

  header
  {
    
    background: linear-gradient(#181C88,#4A0C68);
    box-shadow: 0px 6px 10px rgba(0,0,0,1);
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
  }

  #section_team_container , #section_reference_main_container
  {
    padding: 15px;
    line-height: 35px;
  }

  #section_welcome_one
  {
    margin-top: 25%;
  }


  #container
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 16px;
  }
  
  img#logo
  {
    display: block;
    margin-left: -75%;
    height: 60px;
    width: 60px;
    margin-bottom: 5%;
  }

  .activo
  {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 0%;
  }
  
  .inactivo
  {
    display: none;
  }
  
  .menuHamburguesa  
  {
    color:rgb(235, 235, 235);
    background: none;
    border: none;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0,0,0,3);
    display: block;
    margin-left: 75%;
    margin-top: -20%;
  }

  #juegos
  {
    display: none;
  }

  .slider_container{
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    align-items: center;
    gap: 1em;
  }

  .slider_body
  {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 1em;
  }
  
  .slider_picture
  {
    grid-row: 1/2;
  }

  .slider_img
  {
    width: 150px;
    height: 150px;
  }

  .slider_flecha
  {
    width: 100%;
  }

  .slider_subtitle
  {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .slider_testimonio
  {
    font-size: 1rem;
    line-height: 1.6;
  }

  #section_type_container_items
  {
    display: flex;
    flex-direction: column;
  }

  .card
  {
    height: 300px;
  }
  
  #tituloFooter
  {
    width: 400px;
  }

  #section_footer_container_socialmedia a:nth-of-type(1)
  {
    display: none;
  }
}

@media(min-width: 769px) and (max-width: 1024px) 
{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  header
  {
    background: linear-gradient(#181C88,#4A0C68);
    box-shadow: 0px 6px 10px rgba(0,0,0,1);
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  #section_welcome_one
  {
    margin-top: 20%;
  }
  
  #container
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img#logo
  {
    margin-left: 0%;
  }
  
  nav
  {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-basis: 75%;
  }

  .activo a:nth-of-type(4)
  {
    margin-left: 100px;
  }
  
  #section_team_container , #section_reference_main_container
  {
    padding: 15px;
    line-height: 35px;
  }
  
  #juegos
  {
    display: none;
  }

  .container
  {
    width: 100%;
    min-height: 80vh;
  }
  .slider_body
  {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 1em;
  }

  .slider_picture
  {
    grid-row: 1/2;
  }

  .slider_img
  {
    width: 210px;
    height: 210px;
  }

  #section_type_container_items
  {
    display: flex;
    flex-direction: column;
  }

  .card
  {
    height: 300px;
  }
  
  #tituloFooter
  {
    width: 500px;
  }

  #section_footer_container_socialmedia a:nth-of-type(1)
  {
    display: none;
  } 
}

@media(min-width: 1025px) and (max-width: 1440px) 
{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  header
  {
    background: linear-gradient(#181C88,#4A0C68);
    box-shadow: 0px 6px 10px rgba(0,0,0,1);
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  #section_welcome_one
  {
    margin-top: 15%;
  }
  
  #container
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img#logo
  {
    margin-left: 0%;
  }
  
  nav
  {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-basis: 75%;
  }

  .activo a:nth-of-type(4)
  {
    margin-left: 150px;
  }
  

  #section_team_container , #section_reference_main_container
  {
    padding: 15px;
    line-height: 35px;
  }
  
  #juegos
  {
    width: 1100px;
  }

  .container
  {
    width: 100%;
    min-height: 60vh;
  }

  #section_type_container_items
  {
    display: flex;
    flex-direction: row;
  }

  .card
  {
    height: 300px;
  }
  
  #tituloFooter
  {
    width: 600px;
  }

  #section_footer_container_socialmedia a:nth-of-type(1)
  {
    display: none;
  } 
}

@media(min-width: 1441px)
{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  header
  {
    background: linear-gradient(#181C88,#4A0C68);
    box-shadow: 0px 6px 10px rgba(0,0,0,1);
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  #container
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img#logo
  {
    margin-left: 0%;
  }
  
  nav
  {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-basis: 50%;
  }

  .activo a:nth-of-type(4)
  {
    margin-left: 200px;
  }
  

  #section_team_container , #section_reference_main_container
  {
    padding: 15px;
    line-height: 35px;
  }
  
  #juegos
  {
    width: 1400px;
    height: 550px;
  }

  #section_type_container_items
  {
    display: flex;
    flex-direction: row;
  }

  .card
  {
    height: 300px;
  }
  
  #tituloFooter
  {
    width: 1100px;
    height: 75px;
  }

  #section_footer_container_socialmedia a:nth-of-type(1)
  {
    display: none;
  } 
}